@mixin font-import($font-family, $font-path, $font-weight: normal, $font-style: normal, $font-stretch: normal) {
	@font-face {
		font-family: $font-family;
		font-weight: $font-weight;
		font-style: $font-style;
		font-stretch: $font-stretch;
		src:
			url("#{$font-path}.eot") format("embedded-opentype"),
			url("#{$font-path}.woff2") format("woff2"),
			url("#{$font-path}.woff") format("woff"),
			url("#{$font-path}.otf") format("opentype"),
			url("#{$font-path}.ttf") format("truetype");
	}
}

@include font-import("Source Sans Pro", "../fonts/source-sans-pro/SourceSansPro-ExtraLight", 200, normal, normal);
@include font-import("Source Sans Pro", "../fonts/source-sans-pro/SourceSansPro-ExtraLightIt", 200, italic, normal);
@include font-import("Source Sans Pro", "../fonts/source-sans-pro/SourceSansPro-Light", 300, normal, normal);
@include font-import("Source Sans Pro", "../fonts/source-sans-pro/SourceSansPro-LightIt", 300, italic, normal);
@include font-import("Source Sans Pro", "../fonts/source-sans-pro/SourceSansPro-Regular", 400, normal, normal);
@include font-import("Source Sans Pro", "../fonts/source-sans-pro/SourceSansPro-It", 400, italic, normal);
@include font-import("Source Sans Pro", "../fonts/source-sans-pro/SourceSansPro-Semibold", 600, normal, normal);
@include font-import("Source Sans Pro", "../fonts/source-sans-pro/SourceSansPro-SemiboldIt", 600, italic, normal);
@include font-import("Source Sans Pro", "../fonts/source-sans-pro/SourceSansPro-Bold", 700, normal, normal);
@include font-import("Source Sans Pro", "../fonts/source-sans-pro/SourceSansPro-BoldIt", 700, italic, normal);
@include font-import("Source Sans Pro", "../fonts/source-sans-pro/SourceSansPro-Black", 900, normal, normal);
@include font-import("Source Sans Pro", "../fonts/source-sans-pro/SourceSansPro-BlackIt", 900, italic, normal);

$font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
