@font-face {
	font-family: "Mini-Headline";
	src: url("../fonts/minihd-webfont.eot");
	src: url("../fonts/minihd-webfont.eot") format("embedded-opentype"),
	url("../fonts/minihd-webfont.woff") format("woff"),
	url("../fonts/minihd-webfont.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Mini-Regular";
	src: url("../fonts/minirg-webfont.eot");
	src: url("../fonts/minirg-webfont.eot") format("embedded-opentype"),
	url("../fonts/minirg-webfont.woff") format("woff"),
	url("../fonts/minirg-webfont.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
