#header {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding: 30px;
	z-index: 3;
	opacity: 0;
	transition: opacity 0.5s ease;
	pointer-events: none;
	background: linear-gradient(to bottom, rgba(11, 11, 11, 1) 0%, rgba(11, 11, 11, 0) 100%);

	body.ready & {
		opacity: 1;
	}

	h1 {
		font-family: "Mini-Regular", Helvetica, arial, sans-serif;
		font-size: 18px;
		font-weight: normal;
		line-height: 1;
		text-transform: uppercase;
		user-select: none;
		color: grey;
		margin: 0;
		padding: 0;

		@media screen and (min-width: 1024px) {
			font-size: 22px;
		}

		span:first-child {
			color: red;
		}

		span:last-child {
			display: block;
			font-family: "Mini-Headline", Helvetica, arial, sans-serif;
			font-size: 40px;
			font-weight: normal;
			color: white;

			@media screen and (min-width: 1024px) {
				font-size: 50px;
			}
		}
	}
}
