#preloader {
	position: absolute;
	z-index: 2;
	width: 200px;
	height: 2px;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -1px;
	background-color: #222222;
	border-left: 0 solid white;
	opacity: 0;
	transition: opacity 0.5s ease;
	pointer-events: none;
}
