#controls-quality-low,
#controls-quality-high,
#controls-quality-go,
#controls-drive-steer,
#controls-drive-accelerate,
#controls-drive-reset,
#controls-drive-info,
#controls-color-next,
#controls-color-prev,
#controls-color-select {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    font-family: $font-family;
    font-weight: 700;
    font-size: 28px;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    color: white;
    background: rgba(11, 11, 11, 0.6);
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 30px;
    box-sizing: border-box;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    cursor: pointer;
    transition: opacity 0.5s ease, transform 0.5s ease, border-color 0.5s ease;
    -webkit-appearance: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 3;

    body.mobile & {
        border-color: rgba(255, 255, 255, 1);
    }

    body.desktop & {
        &:hover {
            border-color: rgba(255, 255, 255, 1);
        }
    }

    &.show {
        pointer-events: all;
        opacity: 1;
    }

    &::before,
    &::after {
        display: block;
        position: absolute;
        top: -2px;
        left: -2px;
        width: 60px;
        height: 60px;
        text-align: center;
        vertical-align: middle;
        line-height: 60px;
    }
}
