body {
	width: 100vw;
	height: 100vh;
	color: #0B0B0B;
	background-color: #0B0B0B;
	overflow: hidden;
	margin: 0;
	padding: 0;
	line-height: 0;
	font-size: 0;
	white-space: nowrap;
}

canvas {
	display: block;
	position: absolute;
	z-index: 1;
	width: 100vw;
	height: 100vh;
	background-color: #0B0B0B;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
