<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
		<meta name="locale" content="en"/>
		<meta name="robots" content="index, follow"/>

		<meta property="og:url" content="https://mini.madebyferdi.com/"/>
		<meta property="og:title" content="WebGL demo of a MINI Cooper S"/>
		<meta property="og:description" content="A WebGL and Physics engine demo that allows you to jump a Mini Cooper S straight through a wall of boxes"/>
		<meta property="og:type" content="website"/>
		<meta property="og:image" content="https://mini.madebyferdi.com${require('./static/gfx/share.jpg')}"/>

		<meta name="twitter:card" content="summary_large_image"/>
		<meta name="twitter:site" content="@ferdikoomen"/>
		<meta name="twitter:creator" content="@ferdikoomen"/>
		<meta name="twitter:title" content="WebGL demo of a MINI Cooper S"/>
		<meta name="twitter:description" content="A WebGL and Physics engine demo that allows you to jump a Mini Cooper S straight through a wall of boxes"/>
		<meta name="twitter:image" content="https://mini.madebyferdi.com${require('./static/gfx/share.jpg')}"/>

		<title>MINI</title>

		<link rel="canonical" href="https://mini.madebyferdi.com"/>

		<link rel="shortcut icon" href="${require('./static/gfx/favicon.ico')}">
		<link rel="icon" type="image/png" sizes="16x16" href="${require('./static/gfx/favicon-16x16.png')}"/>
		<link rel="icon" type="image/png" sizes="32x32" href="${require('./static/gfx/favicon-32x32.png')}"/>
		<link rel="icon" type="image/png" sizes="96x96" href="${require('./static/gfx/favicon-96x96.png')}"/>
		<link rel="icon" type="image/png" sizes="194x194" href="${require('./static/gfx/favicon-194x194.png')}"/>
		<link rel="apple-touch-icon" sizes="60x60" href="${require('./static/gfx/apple-touch-icon-60x60.png')}"/>
		<link rel="apple-touch-icon" sizes="76x76" href="${require('./static/gfx/apple-touch-icon-76x76.png')}"/>
		<link rel="apple-touch-icon" sizes="120x120" href="${require('./static/gfx/apple-touch-icon-120x120.png')}"/>
		<link rel="apple-touch-icon" sizes="152x152" href="${require('./static/gfx/apple-touch-icon-152x152.png')}"/>
		<link rel="apple-touch-icon" sizes="180x180" href="${require('./static/gfx/apple-touch-icon-180x180.png')}"/>

		<link rel="prefetch" href="${require('./static/gfx/cubemap_back.png')}"/>
		<link rel="prefetch" href="${require('./static/gfx/cubemap_back_blur.png')}"/>
		<link rel="prefetch" href="${require('./static/gfx/cubemap_bottom.png')}"/>
		<link rel="prefetch" href="${require('./static/gfx/cubemap_bottom_blur.png')}"/>
		<link rel="prefetch" href="${require('./static/gfx/cubemap_front.png')}"/>
		<link rel="prefetch" href="${require('./static/gfx/cubemap_front_blur.png')}"/>
		<link rel="prefetch" href="${require('./static/gfx/cubemap_left.png')}"/>
		<link rel="prefetch" href="${require('./static/gfx/cubemap_left_blur.png')}"/>
		<link rel="prefetch" href="${require('./static/gfx/cubemap_right.png')}"/>
		<link rel="prefetch" href="${require('./static/gfx/cubemap_right_blur.png')}"/>
		<link rel="prefetch" href="${require('./static/gfx/cubemap_top.png')}"/>
		<link rel="prefetch" href="${require('./static/gfx/cubemap_top_blur.png')}"/>
		<link rel="prefetch" href="${require('./static/gfx/colors.png')}"/>
		<link rel="prefetch" href="${require('./static/gfx/noise.png')}"/>

		<link rel="prefetch" href="${require('./static/models/colors.json')}"/>
		<link rel="prefetch" href="${require('./static/models/back-lights-glass-low.json')}"/>
		<link rel="prefetch" href="${require('./static/models/back-lights-low.json')}"/>
		<link rel="prefetch" href="${require('./static/models/body-low.json')}"/>
		<link rel="prefetch" href="${require('./static/models/bumper-low.json')}"/>
		<link rel="prefetch" href="${require('./static/models/brake-disc-low.json')}"/>
		<link rel="prefetch" href="${require('./static/models/chrome-low.json')}"/>
		<link rel="prefetch" href="${require('./static/models/glass-dark-low.json')}"/>
		<link rel="prefetch" href="${require('./static/models/glass-low.json')}"/>
		<link rel="prefetch" href="${require('./static/models/head-lights-glass-low.json')}"/>
		<link rel="prefetch" href="${require('./static/models/head-lights-low.json')}"/>
		<link rel="prefetch" href="${require('./static/models/interior-details-low.json')}"/>
		<link rel="prefetch" href="${require('./static/models/interior-low.json')}"/>
		<link rel="prefetch" href="${require('./static/models/number-plates-low.json')}"/>
		<link rel="prefetch" href="${require('./static/models/plastic-low.json')}"/>
		<link rel="prefetch" href="${require('./static/models/roof-mirrors-low.json')}"/>
		<link rel="prefetch" href="${require('./static/models/seats-low.json')}"/>
		<link rel="prefetch" href="${require('./static/models/tire-low.json')}"/>
		<link rel="prefetch" href="${require('./static/models/wheel-cap-low.json')}"/>
		<link rel="prefetch" href="${require('./static/models/wheel-low.json')}"/>

		<link rel="preload" href="${require('./static/fonts/source-sans-pro/SourceSansPro-Semibold.woff2')}" as="font" type="font/woff2" crossorigin="anonymous"/>
		<link rel="preload" href="${require('./static/fonts/source-sans-pro/SourceSansPro-Bold.woff2')}" as="font" type="font/woff2" crossorigin="anonymous"/>

	</head>
	<body>

		<div id="header">
			<h1>MINI Cooper <span>S</span><span>WebGL</span></h1>
		</div>

		<div id="preloader"></div>
		<button id="controls-quality-low">LQ</button>
		<button id="controls-quality-high">HQ</button>
		<button id="controls-quality-go">GO</button>
		<button id="controls-drive-steer"></button>
		<button id="controls-drive-accelerate"></button>
		<button id="controls-drive-reset"></button>
		<button id="controls-drive-info">Arrow keys to drive, spacebar to reset</button>
		<button id="controls-color-next"></button>
		<button id="controls-color-prev"></button>
		<button id="controls-color-select">DRIVE</button>


		<script type="text/javascript" src="${require('./static/js/three.min.js')}" defer></script>
		<script type="text/javascript" src="${require('./static/js/ammo.min.js')}" defer></script>

	</body>
</html>
